# PostgreSQL
POSTGRES_DB=
POSTGRES_DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=

# pgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# JWT keys
SECRET_KEY_ACCESS=
SECRET_KEY_REFRESH=
JWT_SIGNING_ALGORITHM=HS256

# MailHog
MAILHOG_USER=
MAILHOG_PASSWORD=

# Email settings for MailHog
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False

# MinIO (S3-Compatible Storage)
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_HOST=
MINIO_PORT=
MINIO_STORAGE=
